#div_materiais_de_construcao{
  padding: 30px 20px 20px 20px;
  overflow: hidden;
}

/* Opções da página mais opções de filtro */
#div_opcoes_da_pagina_mais_opcoes_de_filtro{
  float: left;
  min-width: 212px;
  max-width: 212px;
}
@media only screen and (max-device-width: 640px){
  #div_opcoes_da_pagina_mais_opcoes_de_filtro{
    min-width: 100%;
    max-width: 100%;
  }
}

/* Opções da página */
#div_opcoes_da_pagina{
  margin-right: auto;
  margin-left: auto;
  min-width: 212px;
  max-width: 212px;
}
#div_lista_de_opcoes_da_pagina{
  text-align: center;
}
.opcao_da_pagina,
.opcao_da_pagina:visited{
  display: inline-block;
  border: 1px solid #B0B0C8;
  border-radius: 8px;
  padding: 8px 12px;
  vertical-align: top;
  background-color: #FFF;
  color: #505088;
}
.opcao_da_pagina:hover{
  border: 1px solid #489848;
  background-color: #489848;
  color: #FFF;
  text-decoration: none;
}

/* Opções de filtro */
#form_opcoes_de_filtro{
  margin-top: 40px;
}
@media only screen and (max-device-width: 640px){
  #form_opcoes_de_filtro{
    margin-top: 25px;
  }
}
#h3_titulo_filtros{
  color: #303030;
  font-size: 11pt;
  text-align: center;
}
#div_buscar_por_nome{
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  min-width: 212px;
  max-width: 212px;
}
#label_buscar_por_nome{
  color: #404040;
  font-size: 11pt;
}
#div_campo_buscar_por_nome{
  margin-top: 1px;
}
#div_buscar_por_descricao{
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  min-width: 212px;
  max-width: 212px;
}
#label_buscar_por_descricao{
  color: #404040;
  font-size: 11pt;
}
#div_campo_buscar_por_descricao{
  margin-top: 1px;
}
#div_buscar_por_marca{
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  min-width: 212px;
  max-width: 212px;
}
#label_buscar_por_marca{
  color: #404040;
  font-size: 11pt;
}
#div_campo_buscar_por_marca{
  margin-top: 1px;
}
#div_buscar_por_valor_maior_ou_igual{
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  min-width: 212px;
  max-width: 212px;
}
#label_buscar_por_valor_maior_ou_igual{
  color: #404040;
  font-size: 11pt;
}
#div_campo_buscar_por_valor_maior_ou_igual{
  margin-top: 1px;
}
#div_buscar_por_valor_menor_ou_igual{
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  min-width: 212px;
  max-width: 212px;
}
#label_buscar_por_valor_menor_ou_igual{
  color: #404040;
  font-size: 11pt;
}
#div_campo_buscar_por_valor_menor_ou_igual{
  margin-top: 1px;
}
#div_buscar_por_cadastrado_a_partir_de{
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  min-width: 212px;
  max-width: 212px;
}
#label_buscar_por_cadastrado_a_partir_de{
  color: #404040;
  font-size: 11pt;
}
#div_campo_buscar_por_cadastrado_a_partir_de{
  margin-top: 1px;
}
#div_buscar_por_cadastrado_antes_de{
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  min-width: 212px;
  max-width: 212px;
}
#label_buscar_por_cadastrado_antes_de{
  color: #404040;
  font-size: 11pt;
}
#div_campo_buscar_por_cadastrado_antes_de{
  margin-top: 1px;
}
#div_ordenacao{
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  min-width: 212px;
  max-width: 212px;
}
#label_ordenacao{
  color: #404040;
  font-size: 11pt;
}
#div_caixa_de_selecao_ordenacao{
  margin-top: 1px;
}
#div_quantidade_por_pagina{
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  min-width: 212px;
  max-width: 212px;
}
#label_quantidade_por_pagina{
  color: #404040;
  font-size: 11pt;
}
#div_caixa_de_selecao_quantidade_por_pagina{
  margin-top: 1px;
}
#div_botoes{
  margin-top: 25px;
  min-width: 100%;
  min-height: 32px;
  text-align: center;
  word-spacing: 16px;
}
#botao_buscar{
  display: inline-block;
  vertical-align: top;
}
#botao_limpar{
  display: inline-block;
  vertical-align: top;
}

/* Paginações mais resultado */
#div_paginacoes_mais_resultado{
  float: left;
  margin-left: 40px;
  min-width: calc(100% - 212px - 40px);
  max-width: calc(100% - 212px - 40px);
}
@media only screen and (max-device-width: 640px){
  #div_paginacoes_mais_resultado{
    margin-top: 35px;
    margin-left: 0px;
    min-width: 100%;
    max-width: 100%;
  }
}
#h2_titulo_materiais_de_construcao{
  margin-bottom: 13px;
  color: #000090;
  font-size: 16pt;
  text-align: center;
}
@media only screen and (max-device-width: 640px){
  #h2_titulo_materiais_de_construcao{
    margin-bottom: 20px;
  }
}
#div_mensagem_do_sistema{
  margin-bottom: 13px;
  min-width: 100%;
  max-width: 100%;
  min-height: 19px;
  max-height: 19px;
  text-align: center;
}
#span_mensagem_do_sistema{
  color: #007000;
}

/* Paginação */
#div_paginacao_de_cima{
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  max-width: 100%;
  text-align: center;
  word-spacing: 4px;
}
#div_paginacao_de_baixo{
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  max-width: 100%;
  text-align: center;
  word-spacing: 4px;
}
@media only screen and (max-device-width: 640px){
  #div_paginacao_de_cima,
  #div_paginacao_de_baixo{
    padding-bottom: 10px;
    font-size: 10pt;
    white-space: nowrap;
    word-spacing: -4px;
    overflow: auto;
  }
}
.primeira_pagina,
.primeira_pagina:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #5050C0;
}
.primeira_pagina:hover{
  background-color: #7070B0;
  color: #F8F8F8;
  text-decoration: none;
}
.pagina_anterior,
.pagina_anterior:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #5050C0;
}
.pagina_anterior:hover{
  background-color: #7070B0;
  color: #F8F8F8;
  text-decoration: none;
}
.pagina,
.pagina:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #5050C0;
}
.pagina:hover{
  background-color: #7070B0;
  color: #F8F8F8;
  text-decoration: none;
}
.pagina_selecionada,
.pagina_selecionada:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #5050C0;
  text-shadow: 1px 0px 0px #5050C0;
}
.pagina_selecionada:hover{
  background-color: #7070B0;
  color: #F8F8F8;
  text-decoration: none;
}
.pagina_seguinte,
.pagina_seguinte:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #5050C0;
}
.pagina_seguinte:hover{
  background-color: #7070B0;
  color: #F8F8F8;
  text-decoration: none;
}
.ultima_pagina,
.ultima_pagina:visited{
  display: inline-block;
  padding: 2px 3px;
  vertical-align: top;
  color: #5050C0;
}
.ultima_pagina:hover{
  background-color: #7070B0;
  color: #F8F8F8;
  text-decoration: none;
}

/* Resultado */
#div_resultado{
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  max-width: 100%;
  overflow: auto;
}
@media only screen and (min-width: 1360px){
  #div_resultado{
    width: 980px;
  }
}
@media only screen and (min-width: 1440px){
  #div_resultado{
    width: 1020px;
  }
}
@media only screen and (min-width: 1600px){
  #div_resultado{
    width: 1120px;
  }
}
@media only screen and (min-width: 1920px){
  #div_resultado{
    width: 1320px;
  }
}
#tabela_materiais_de_construcao{
  border-collapse: separate;
  border-spacing: 0px 0px;
  border: 1px solid #C4C4C4;
  min-width: 100%; /* Borda de tabela não precisa ser descontada. */
  max-width: 100%; /* Borda de tabela não precisa ser descontada. */
  background-color: #FFF;
  font-size: 10.5pt;
}
.th_momento,
.td_momento{
  min-width: 170px;
  text-align: left;
}
@media only screen and (max-device-width: 640px){
  .th_momento,
  .td_momento{
    display: none;
  }
}
.th_material,
.td_material{
  text-align: left;
}
.th_marca,
.td_marca{
  min-width: 100px;
  text-align: left;
}
@media only screen and (max-device-width: 640px){
  .th_marca,
  .td_marca{
    display: none;
  }
}
.th_valor,
.td_valor{
  min-width: 100px;
  text-align: right;
}
@media only screen and (max-device-width: 640px){
  .th_valor,
  .td_valor{
    display: none;
  }
}
.th_opcoes,
.td_opcoes{
  min-width: 70px;
  text-align: right;
}
tr.impar>td{
  background-color: #F8F8F8;
}
tr.par>td{
  background-color: #FFF;
}
#tabela_materiais_de_construcao>thead>tr>th,
#tabela_materiais_de_construcao>tfoot>tr>th{
  background-color: #F0F0FF;
  color: #8088B0;
}
#tabela_materiais_de_construcao tr>td, 
#tabela_materiais_de_construcao tr>th{
  padding: 8px;
}
#tabela_materiais_de_construcao tr>td{
  font-size: 11pt;
}
#span_mensagem_quando_nao_ha_materiais_de_construcao{
  color: #202050;
}
.div_local_do_nome{
  max-width: 320px;
  word-wrap: break-word;
}
.div_local_da_descricao{
  margin-top: 4px;
  max-width: 320px;
  word-wrap: break-word;
}
.div_local_da_marca{
  max-width: 320px;
  word-wrap: break-word;
}
@media only screen and (max-device-width: 640px){
  .div_local_do_nome,
  .div_local_da_descricao,
  .div_local_da_marca{
    max-width: 160px;
  }
}
@media only screen and (min-width: 1360px){
  .div_local_do_nome,
  .div_local_da_descricao,
  .div_local_da_marca{
    max-width: 350px;
  }
}
@media only screen and (min-width: 1440px){
  .div_local_do_nome,
  .div_local_da_descricao,
  .div_local_da_marca{
    max-width: 380px;
  }
}
@media only screen and (min-width: 1600px){
  .div_local_do_nome,
  .div_local_da_descricao,
  .div_local_da_marca{
    max-width: 440px;
  }
}
@media only screen and (min-width: 1920px){
  .div_local_do_nome,
  .div_local_da_descricao,
  .div_local_da_marca{
    max-width: 560px;
  }
}
.div_do_link_visualizar_material_de_construcao{
  font-size: 10.5pt;
}
.div_do_link_editar_material_de_construcao{
  margin-top: 4px;
  font-size: 10.5pt;
}
.div_do_link_deletar_material_de_construcao{
  margin-top: 4px;
  font-size: 10.5pt;
}

/* Popup cadastrar */
#div_popup_cadastrar{
  position: absolute;
  border: 1px solid #A0A0A0;
  padding: 14px 10px 12px 10px;
  min-width: calc(350px - 2px - 10px - 10px);
  max-width: calc(350px - 2px - 10px - 10px);
  background: #F8F8F8;
  background: linear-gradient(90deg, #EBEBEB 0%, #F8F8F8 50%, #EBEBEB 100%);
  box-shadow: 0px 0px 8px 0px rgba(23, 23, 31, 0.75);
}
#h3_titulo_cadastrar_material{
  font-size: 13pt;
  text-align: center;
}
#div_mensagem_de_erro_do_formulario_cadastrar{
  margin-top: 20px;
  text-align: justify;
  text-indent: 28px;
}
#span_mensagem_de_erro_do_formulario_cadastrar{
  color: #B00000;
}
#div_campos_do_formulario_cadastrar{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  min-width: 212px;
  max-width: 212px;
}
#div_inserir_descricao{
  margin-top: 12px;
}
#campo_inserir_descricao{
  min-width: calc(212px - 2px - 10px);
  height: 150px;
}
#div_inserir_marca{
  margin-top: 12px;
}
#div_inserir_valor{
  margin-top: 12px;
}
#div_botoes_do_formulario_de_cadastro{
  margin-top: 20px;
  text-align: center;
  word-spacing: 16px;
}
#botao_limpar_do_formulario_de_cadastro{
  display: inline-block;
  vertical-align: top;
}
#botao_cadastrar{
  display: inline-block;
  vertical-align: top;
}

/* Popup visualização */
#div_popup_visualizacao{
  position: absolute;
  border: 1px solid #A0A0A0;
  padding: 14px 40px 12px 10px;
  min-width: calc(650px - 2px - 40px - 10px);
  max-width: calc(650px - 2px - 40px - 10px);
  background: #F8F8F8;
  background: linear-gradient(90deg, #EBEBEB 0%, #F8F8F8 50%, #EBEBEB 100%);
  box-shadow: 0px 0px 8px 0px rgba(23, 23, 31, 0.75);
}
@media only screen and (max-device-width: 640px){
  #div_popup_visualizacao{
    min-width: calc(350px - 2px - 40px - 10px);
    max-width: calc(350px - 2px - 40px - 10px);
  }
}
.div_local_da_visualizacao_do_nome{
  max-width: 100%;
  word-wrap: break-word;
}
.div_local_da_visualizacao_do_momento{
  margin-top: 20px;
}
.div_local_da_visualizacao_da_marca{
  margin-top: 20px;
  max-width: 100%;
  word-wrap: break-word;
}
.div_local_da_visualizacao_da_descricao{
  margin-top: 20px;
  max-width: 100%;
  word-wrap: break-word;
}
.div_local_da_visualizacao_do_valor{
  margin-top: 20px;
}

/* Popup editar */
#div_popup_editar{
  position: absolute;
  border: 1px solid #A0A0A0;
  padding: 14px 10px 12px 10px;
  min-width: calc(350px - 2px - 10px - 10px);
  max-width: calc(350px - 2px - 10px - 10px);
  background: #F8F8F8;
  background: linear-gradient(90deg, #EBEBEB 0%, #F8F8F8 50%, #EBEBEB 100%);
  box-shadow: 0px 0px 8px 0px rgba(23, 23, 31, 0.75);
}
.h3_titulo_editar_material{
  font-size: 13pt;
  text-align: center;
}
.div_mensagem_de_erro_do_formulario_editar{
  margin-top: 20px;
  text-align: justify;
  text-indent: 28px;
}
.span_mensagem_de_erro_do_formulario_editar{
  color: #B00000;
}
.div_campos_do_formulario_editar{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  min-width: 212px;
  max-width: 212px;
}
.div_editar_descricao{
  margin-top: 12px;
}
.campo_editar_descricao{
  min-width: calc(212px - 2px - 10px);
  height: 150px;
}
.div_editar_marca{
  margin-top: 12px;
}
.div_editar_valor{
  margin-top: 12px;
}
.div_botoes_do_formulario_de_edicao{
  margin-top: 20px;
  text-align: center;
  word-spacing: 16px;
}
.botao_limpar_do_formulario_de_edicao{
  display: inline-block;
  vertical-align: top;
}
.botao_editar{
  display: inline-block;
  vertical-align: top;
}

/* Popup deletar */
#div_popup_deletar{
  position: absolute;
  border: 1px solid #A0A0A0;
  padding: 14px 40px 12px 10px;
  min-width: calc(650px - 2px - 40px - 10px);
  max-width: calc(650px - 2px - 40px - 10px);
  background: #F8F8F8;
  background: linear-gradient(90deg, #EBEBEB 0%, #F8F8F8 50%, #EBEBEB 100%);
  box-shadow: 0px 0px 8px 0px rgba(23, 23, 31, 0.75);
}
@media only screen and (max-device-width: 640px){
  #div_popup_deletar{
    min-width: calc(350px - 2px - 40px - 10px);
    max-width: calc(350px - 2px - 40px - 10px);
  }
}
.div_pergunta_sobre_deletar_o_material{
  margin-top: 20px;
}
.div_botoes_do_formulario_de_delecao{
  margin-top: 14px;
  text-align: center;
  word-spacing: 16px;
}
.botao_deletar{
  display: inline-block;
  vertical-align: top;
}
.botao_nao_deletar{
  display: inline-block;
  vertical-align: top;
}