body{
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFF;
  color: #383838;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 12pt;
}

/* Calendário: */
.calendario{
  position: absolute;
  border: 1px solid #9090C8;
  padding: 12px 8px;
  background-color: #F0F0FF;
  z-index: 10;
}
.titulo_do_calendario{
  font-size: 14pt;
  text-align: center;
}
.caixa_de_selecao_de_mes_do_calendario{
  margin-left: 9px;
  width: 120px;
}
.caixa_de_selecao_de_ano_do_calendario{
  margin-left: 9px;
  width: 80px;
}
.corpo_do_calendario{
  margin-top: 12px;
}
.dias_do_calendario{
  min-width: 329px;
  max-width: 329px;
  overflow: hidden;
}
.celula_do_calendario{
  float: left;
  margin-right: 5px;
  margin-bottom: 3px;
  border: 1px solid transparent;
  min-width: calc(47px - 5px - 2px);
  max-width: calc(47px - 5px - 2px);
  min-height: 23px;
  max-height: 23px;
  text-align: center;
}
.dia_do_calendario>span{
  position: relative;
  top: 2px;
}
.dia_do_calendario:hover{
  border: 1px solid #404070;
  cursor: pointer;
}
.dia_escolhido,
.dia_escolhido:hover{
  border: 1px solid #404070;
  background-color: #404070;
  color: #FFF;
}
.botoes_do_calendario{
  margin-top: 2px;
  text-align: right;
}
.botao_do_calendario{
  background-color: #FFF !important;
}

/* Cabeçalho do sistema: */
#div_cabecalho_template{
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  padding: 4px 20px;
  width: calc(1200px - 2px - 40px);
  max-width: calc(100% - 2px - 40px);
  background-color: #F8F8FF;
}
@media only screen and (min-width: 1360px){
  #div_cabecalho_template{
    width: calc(1280px - 2px - 40px);
  }
}
@media only screen and (min-width: 1440px){
  #div_cabecalho_template{
    width: calc(1360px - 2px - 40px);
  }
}
@media only screen and (min-width: 1600px){
  #div_cabecalho_template{
    width: calc(1500px - 2px - 40px);
  }
}
@media only screen and (min-width: 1920px){
  #div_cabecalho_template{
    width: calc(1800px - 2px - 40px);
  }
}
#h1_titulo_do_desafio_template{
  color: #FD6400;
  font-size: 18pt;
  text-align: center;
}

/* Tronco do sistema: */
#div_tronco_template{
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #E8E8E8;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E8E8E8;
  border-left: 1px solid #E0E0E0;
  width: calc(1200px - 2px);
  max-width: calc(100% - 2px);
  min-height: 2000px; /* Será modificada pelo script */
  background-color: #FFF;
}
@media only screen and (min-width: 1360px){
  #div_tronco_template{
    width: calc(1280px - 2px);
  }
}
@media only screen and (min-width: 1440px){
  #div_tronco_template{
    width: calc(1360px - 2px);
  }
}
@media only screen and (min-width: 1600px){
  #div_tronco_template{
    width: calc(1500px - 2px);
  }
}
@media only screen and (min-width: 1920px){
  #div_tronco_template{
    width: calc(1800px - 2px);
  }
}

/* Rodapé do sistema: */
#div_rodape_template{
  margin-right: auto;
  margin-left: auto;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: calc(1200px - 2px);
  max-width: calc(100% - 2px);
  color: #202050;
  background-color: #F8F8FF;
  font-size: 11pt;
}
@media only screen and (min-width: 1360px){
  #div_rodape_template{
    width: calc(1280px - 2px);
  }
}
@media only screen and (min-width: 1440px){
  #div_rodape_template{
    width: calc(1360px - 2px);
  }
}
@media only screen and (min-width: 1600px){
  #div_rodape_template{
    width: calc(1500px - 2px);
  }
}
@media only screen and (min-width: 1920px){
  #div_rodape_template{
    width: calc(1800px - 2px);
  }
}
#div_autor_template{
  text-align: center;
}
#div_tecnologias_template{
  margin-top: 6px;
  text-align: center;
}

/* Classes especiais: */
.tag_oculta{
  display: none !important;
}
.coluna_unica{
  text-align: center;
}

/* Ícones: */
.icone_calendario{
  display: inline-block;
  position: absolute;
  margin-top: 1px;
  margin-left: calc(-25px - 2px);
  width: 25px;
  height: 25px;
  background-image: url("../../imagens/icones/Ícone de Calendário - Sem Fundo 25x25.png");
  background-size: cover;
  vertical-align: top;
  cursor: pointer;
}

/* Estilos iniciais: */
h1, h2, h3, h4, h5, h6{
  margin: 0px;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 20pt;
  font-weight: normal;
}
input[type="text"],
input[type="password"],
input[type="number"]{
  border: 1px solid #C4C4C4;
  padding: 4px 5px;
  width: calc(212px - 2px - 10px);
  max-width: calc(100% - 2px - 10px);
  color: #303030;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 11pt;
  appearance: none;
  outline: none;
}
input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 999px #FFF inset;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="number"]:hover,
input[type="number"]:focus{
  border: 1px solid #9090C8;
  appearance: none;
  outline: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus{
  color: #000;
  background-color: #F8F8FD;
}
textarea{
  border: 1px solid #C4C4C4;
  padding: 4px 5px;
  width: calc(212px - 2px - 10px);
  max-width: calc(100% - 2px - 10px);
  color: #303030;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 11pt;
  appearance: none;
  outline: none;
}
textarea:hover,
textarea:focus{
  border: 1px solid #9090C8;
  appearance: none;
  outline: none;
}
textarea:focus{
  color: #000;
  background-color: #F8F8FD;
}
input[type="radio"]{
  margin: 0px;
}
input[type="radio"]:checked{
  -webkit-filter: grayscale(100%) contrast(130%);
}
input[type="checkbox"]{
  margin: 0px;
}
input[type="submit"],
input[type="reset"],
button{
  border-top: 1px solid #B0B0D8;
  border-right: 2px solid #B0B0D8;
  border-bottom: 2px solid #B0B0D8;
  border-left: 1px solid #B0B0D8;
  border-radius: 4px;
  padding: 4px 4px 4px 3px;
  background-color: #FFF;
  color: #545474;
  font-family: Tahoma, Verdana, Times New Roman, serif;
  font-size: 11pt;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover{
  border-top: 1px solid #9898C8;
  border-right: 2px solid #9898C8;
  border-bottom: 2px solid #9898C8;
  border-left: 1px solid #9898C8;
  background-color: #F4F4F4;
  appearance: none;
  outline: none;
}
input[type="submit"]:focus,
input[type="reset"]:focus,
button:focus{
  border-top: 2px solid #9898C8;
  border-right: 1px solid #9898C8;
  border-bottom: 1px solid #9898C8;
  border-left: 2px solid #9898C8;
  padding: 5px 3px 3px 4px;
  appearance: none;
  outline: none;
}
select{
  border: 1px solid #C4C4C4;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 212px;
  max-width: 100%;
  background-color: #FFF;
  color: #303030;
  font-family: Verdana, Tahoma, Times New Roman, serif;
  font-size: 11pt;
  outline: none;
}
select:hover,
select:focus{
  border: 1px solid #9090C8;
  outline: none;
}
select:focus{
  color: #000;
  background-color: #F8F8FD;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: justify;
}
a{
  color: #505098;
  text-decoration: none;
  cursor: pointer;
}
a:visited{
  color: #505098;
}
a:hover{
  color: #505098;
  text-decoration: underline;
}
